main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.espacamento {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: space-around;
  
}
.margin-tp{

  margin-top: 16px;
}

.cor-bg-ft-mn{
  background-color: #f55555; 

}
.qtd-car{
  font-size: 0.75rem;
}

.img_card {

  max-height: 180px;
  align-self: center;
  width: 278px;
  height: 254px;
  border-radius: 8px;
  object-fit: cover;

}

.container2{
  width: 80%;
  background-color: #c9fef5;
}
.container3{
 
  display: flex;
  flex-wrap: wrap;
  background-color: #f55555;
  justify-content: space-around;

}
.up{

  margin-top: 9px;
}
